.filtering_form{
    padding: 1rem;
}
.filtering_form p{
    width: 7rem;
}
.filtering_form select{
    width: 63%;
    height: 2rem;
    border: 1px solid rgb(147, 146, 146);
    border-radius: 0.2rem;
}
.filtering_form_categories {
    display: flex;
    align-items: center;
}
.filtering_form_categories_buttons button{
    background: none;
    border: 0;
    padding: 0.5rem;
    font-size: 1rem;
}
.filtering_form_categories_buttons button:hover{
    cursor: pointer;
    color: blue;
}
.filtering_form_categories_buttons button:focus{
    background-color: rgb(228, 228, 228);
    border-radius: 0.2rem;
}
.filtering_form input{
    width: 30%;
    height: 2rem;
    border: 1px solid rgb(147, 146, 146);
    border-radius: 0.2rem;
}


.filtering_form_total label,
.filtering_form_date label{
    
    margin: 0 0.5rem;
}
.filtering_form_storeName,
.filtering_form_date,
.filtering_form_total
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.filtering_form_storeName div{
    margin: 0 0.5rem;
}
.filtering_form_total button,
.filtering_form_date button,
.filtering_form_storeName button {
    background-color: black;
    color: white;
    border: 0;
    height: 2rem;
    margin: 0;
}

.filtering_form_total div:last-child,
.filtering_form_date div:last-child,
.filtering_form_storeName div:last-child {
    margin: 0 1.5rem;
}