.header select {
    height: 1.87rem;
    border-radius: 0.3rem;
    margin-left: 0.3rem;
    text-align: center;
    width: 6rem;
}

.header_buttons div{
    display: flex;
    align-items: center;
    
    
    
}

